<ModConfiguration>
    <Id>Teellox.QuieterCrafting</Id>
    <Name>Quieter Hoppers and Crafting</Name>
    <Description>Removes the voice when crafting and setting hopper permissions. Also mutes the game's audio when the game is not in focus.</Description>
    <ChangeNote>First release.</ChangeNote>
    <Version>1</Version>
    <IsLocalMod>true</IsLocalMod>
    <IsServerOnlyMod>false</IsServerOnlyMod>
</ModConfiguration>
